/**{
    border: 1px solid black;
    outline-color: red;
}*/

body {
    background-color: #533d1b;
    color: #c4a571;
    text-align: center;
}

h1 {
    @extend box;
    font-family: 'Aguafina Script', cursive;
    font-size: 8vw;
    vertical-align: middle;
    width: 100%;
    font-weight: 300;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h2, h3, h4, h5 {
    @extend box;
    font-family: 'Crimson Text', serif;
    font-size: 6vw;
    vertical-align: middle;
    width: 100%;
    font-weight: 200;
}

h3 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 4vw;
}

h4 {
    font-size: 3vw;
}

h5 {
    font-size: 2vw;
}

input, textarea {
    background-color: transparent;
    border: 1px solid #BD8A3D;
    color: #BD8A3D;
    padding: 0.5em;
    font-family: 'Crimson Text', serif;
    font-size: 2vw;
    vertical-align: middle;
}

.footer, .banner {
    vertical-align: middle;
    width: 100%;
    margin-bottom: -20%;
    position: relative;
}

.footer {
    margin-bottom: 0px;
}

.btn {
    border-radius: 1vw;
    border-width: 1px;
    border-color: #BD8A3D;
}

.btn:hover {
    border-radius: 1vw;
    border-color: #BD8A3D;
    background-color: #735425;
}


.rsvp {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    z-index: 100;
}

.form {
    margin-right: 1em;
    font-size: 2vw;
    font-family: 'Crimson Text', serif;

}

#footer-svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 3vw;
    }
    h3 {
        font-size: 2vw;
    }
    h4 {
        font-size: 2vw;
    }
    #banner-svg {
        content: url("../images/weddingbannerlarge.svg");
    }
    .banner {
        margin-bottom: auto;
    }
}
