/**{
    border: 1px solid black;
    outline-color: red;
}*/

body {
    text-align: center;
    font-family: 'Crimson Text', serif;
}

h1 {
    width: 100%;
    font-weight: 500;
}

button {
    font-weight: 600;
    width: 50%;
    height: auto;
    font-family: 'Crimson Text', serif;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 15em;
}

nav img {
    margin-top: 2em;
    width: 100px;
    height: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    margin-top: 2em;
    padding: 0;
}

nav li {
    margin-bottom: 1em;
}

nav a {
    text-decoration: none;
}

textarea, input {
    border: 1px;
    border-radius: 1px;
    font-family: 'Crimson Text', serif;
    font-size: 0.5em;
    padding: 3px;
}

.main {
    margin-left: 15em;
}

.btn {
    border-radius: 5px;
    border-width: 1px;
    padding: 0.5em;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.btn:hover {
    border-width: 2px;
}

.rsvp {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    z-index: 100;
}

.form {
    margin-right: 1em;
    font-size: 2vw;
    font-family: 'Crimson Text', serif;
}


/********************/


/* Guest list table */


/********************/

.guest-table {
    font-family: 'Crimson Text', serif;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid transparent;
    border-radius: 0.5em;
    width: 100%;
}

.guest-table th {
    font-weight: bold;
    height: 2em;
    transition: all 0.25s;
}

.guest-table tr:first-child th:first-child {
    border-radius: 0.25em 0 0 0;
}

.guest-table tr:first-child th:last-child {
    border-radius: 0 0.25em 0 0;
}

.guest-table td {
    align-content: center;
    height: 2em;
    transition: all 0.25s;
}
