{% extends "index.html" %} {% block title %} Guest List {% endblock %} {% block content %}
<div class="row center-lg">
    <h1>Guest List</h1>
    <div class="col-lg-6 col-md-12">
        <table class="guest-table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        RSVP
                    </th>
                    <th>
                        Plus Ones
                    </th>
                    <th>
                        Limitations
                    </th>
                    <th>
                        Address
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for guest in guests %}
                <tr>
                    <td>
                        {{ guest.name }}
                    </td>
                    <td>
                        {% if guest.rsvp: %}
                        Yes
                        {% else: %}
                        No
                        {% endif %}
                    </td>
                    <td>
                        {{ guest.plusone }}
                    </td>
                    <td>
                        {{ guest.limitations }}
                    </td>
                    <td>
                        {{ guest.address }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
