{% extends "index.html" %} {% block title %} Settings {% endblock %} {% block content %}
<h1>Settings</h1>
<form method="post">
    {% for option in options %}
    <div class="row">
        <div class="col-xs-4 form">
            {{ option.label|e }}
        </div>
        <div class="col-xs-4 form" style="margin-top: 0.25em;">
            {{ option|e }}
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4 form">
            <input type="submit" class="btn" Value="Update"></input>
        </div>
    </div>
</form>
{% endblock %}
